.loading {
  margin-top: 30px;
}

.loader {
  width: fit-content;
  position: absolute;
  top: calc(50% - 44px);
  left: calc(50%);
}

@media (max-width: 550px) {
  .loader span {
    display: none;
  }

  .loader {
    left: calc(50% - 44px);
  }
}
